<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>product</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!--####################### NAV #############################-->
{% extends "base_template.html" %}

<!--#########################################################-->
{% block content %}
<h3 class='d-flex justify-content-center mt-3'>Product detail</h3> 
<table class="table" style="margin:0; padding:0; border-collapse:collapse;">

  {{detail.productId}}
  
      <tbody class="text-center">
        <tr>
          <td style="padding: 5px">Product Id:</td>
          <td class="text-success" style="padding: 5px"></td>
        </tr>
        <tr>
          <td style="padding: 5px">Periodo de consulta:</td>
          <td class="text-success" style="padding: 5px">ppp</td> 
        </tr>
      </tbody>
    </table>
      
  

  {%endblock%}
     

</body>
</html>